 :root{
    --primary-blue:#007bff;
    --background-light:#e6f2ff; 
 }
body, html {

height: 100%;
margin: 0;
}
.valid{
color: green;
font-size: small;
}
.valid:before{
content: "✔Valid match" ;
}
.invalid{
color:red;
font-size: small;
}
.invalid:before{
content: "✖ Both password must match";
}
#error{
display: none;
}

.hero{
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    position:relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1074%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(230%2c 242%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c545.447C106.345%2c534.417%2c210.56%2c523.969%2c306.783%2c477.364C412.706%2c426.061%2c530.024%2c371.436%2c579.626%2c264.706C629.297%2c157.829%2c589.627%2c34.113%2c566.49%2c-81.449C544.503%2c-191.266%2c525.68%2c-307.45%2c448.771%2c-388.863C373.126%2c-468.938%2c261.597%2c-503.881%2c152.57%2c-519.607C53.149%2c-533.947%2c-39.116%2c-483.552%2c-139.077%2c-473.652C-269.085%2c-460.776%2c-413.191%2c-524.298%2c-522.501%2c-452.75C-635.439%2c-378.828%2c-713.916%2c-236.521%2c-707.343%2c-101.701C-700.858%2c31.324%2c-553.816%2c106.921%2c-489.528%2c223.56C-431.937%2c328.049%2c-450.29%2c479.996%2c-350.601%2c545.546C-250.934%2c611.082%2c-118.647%2c557.753%2c0%2c545.447' fill='%2385c0ff'%3e%3c/path%3e%3cpath d='M1440 955.422C1520.444 955.72 1613.519 977.3399999999999 1674.458 924.8240000000001 1735.558 872.169 1710.266 771.977 1739.912 696.965 1767.3690000000001 627.49 1854.613 575.815 1841.452 502.28 1828.218 428.342 1737.462 399.841 1678.421 353.40700000000004 1630.829 315.978 1585.135 279.507 1529.0819999999999 256.615 1467.641 231.522 1402.505 196.75400000000002 1338.586 214.61599999999999 1274.522 232.51799999999997 1236.285 295.758 1196.978 349.41999999999996 1160.412 399.33799999999997 1139.3020000000001 455.322 1119.3600000000001 513.899 1094.969 585.544 1051.559 656.167 1067.35 730.184 1084.241 809.358 1137.371 881.2139999999999 1206.655 923.091 1275.247 964.55 1359.853 955.125 1440 955.422' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1074'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}