<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <style>
      .valid{
        color: green;
        font-size: small;
      }
      .valid:before{
        content: "✔Valid match" ;
      }
      .invalid{
        color:red;
        font-size: small;
      }
      .invalid:before{
        content: "✖ Both password must match";
      }
      #error{
        display: none;
      }
     
  </style>
  </head>
  <body>
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">Car Dealership</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'djangoapp:index' %}">Home</a>
        <a class="p-2 text-dark" href="{% url 'djangoapp:about' %}">About us</a>
        <a class="p-2 text-dark" href="{% url 'djangoapp:contact' %}"
          >Contact us</a
        >
      </nav>
      {% if user.is_authenticated %}
      <nav>
        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
      </nav>
      {% else %}

      
      <nav>
        <a class="btn btn-primary" href="{% url 'djangoapp:login' %}">Log in</a>
        <a class="btn btn-outline-primary" href="{% url 'djangoapp:registration' %}">Sign Up</a>
      </nav>
      {% endif %}
   
    </div>

    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
